In [16]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from statsmodels.tsa.stattools import adfuller
from statsmodels.tsa.seasonal import seasonal_decompose

In [2]:
#Read in the files
chl_a = pd.read_csv('monthly_Chlorophyll_a_averages.csv')
ndci = pd.read_csv('monthly_ndci_averages.csv')
ssc = pd.read_csv('monthly_SSC_averages.csv')
tbd = pd.read_csv('monthly_turbidity_averages.csv')

In [10]:
# Subset the datasets for the month and mean columns
chl_a_subset = chl_a[['month', 'mean']].rename(columns={'mean': 'chl_a'})
ndci_subset = ndci[['month', 'mean']].rename(columns={'mean': 'ndci'})
ssc_subset = ssc[['month', 'mean']].rename(columns={'mean': 'ssc'})
tbd_subset = tbd[['month', 'mean']].rename(columns={'mean': 'tbd'})

In [13]:
# Merge the dataframes on the 'month' column
merged_df = chl_a_subset.merge(ndci_subset, on='month') \
                        .merge(ssc_subset, on='month') \
                        .merge(tbd_subset, on='month')

merged_df

       month        chl_a      ndci           ssc         tbd
0    2002-08   322.488621 -0.294500   4154.567990  170.248127
1    2002-09   680.343490 -0.199998   5671.488119  227.398316
2    2002-10   431.833269 -0.165717   8359.137935  323.912052
3    2002-11   146.449476 -0.274810   7544.772391  289.461416
4    2002-12   669.796149 -0.180434   8231.523425  316.852569
..       ...          ...       ...           ...         ...
263  2024-07  2021.627986 -0.274382  12930.867034  478.771965
264  2024-08  1044.550636 -0.309919   7546.054987  292.684297
265  2024-09   352.918585 -0.215742   9226.184187  357.963774
266  2024-10   133.381975 -0.181523  13540.679478  507.434586
267  2024-11    48.352580 -0.149267  19561.921219  702.364753

[268 rows x 5 columns]

In [14]:
# Convert the 'month' column to a datetime object
merged_df['month'] = pd.to_datetime(merged_df['month'])

In [ ]:
merged_df.describe()

,month,chl_a,ndci,ssc,tbd
count,268,2.680000e+02,268.000000,268.000000,268.000000
mean,2013-09-15 15:24:10.746268672,2.129203e+04,-0.258701,7964.682056,310.503816
min,2002-08-01 00:00:00,1.133977e+00,-0.468058,1718.615168,80.901697
25%,2008-02-22 18:00:00,9.839088e+01,-0.298346,5785.306186,233.246609
50%,2013-09-16 00:00:00,2.025182e+02,-0.253675,7537.472121,292.774184
75%,2019-04-08 12:00:00,3.540929e+02,-0.214954,9708.164557,372.841065
max,2024-11-01 00:00:00,4.896472e+06,-0.129695,21904.423224,778.085574
std,NaN,3.022053e+05,0.059360,3122.939876,108.309206